*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    height: 100vh;
}

label{
    opacity: 0.5;
}

input{
    width: 100%;
    height: 40px;
  border: 1px solid #d1d5db; 
  padding: 12px;          
  border-radius: 8px;     
  margin: 0 5px;
}

.image{ 
    flex: 1;
    height: 100vh;
    display: grid;
    background-image: url("../images/plan-69159a65c5684763515973.jpg");
      grid-template-columns:
    minmax(100px, 1fr)
    minmax(100px, 1.4fr)
    minmax(100px, 1fr)
    minmax(100px, 1.4fr)
    minmax(100px, 1.2fr);
      grid-template-rows: repeat(3, minmax(100px, 1fr));
    background-size: cover;
    background-repeat: no-repeat;
    grid-template-areas:"div1 div1 . div3 div4"
                        "div5 div5 . . ."
                        "div5 div5 . div6 div7";

}
#div-1{grid-area: div1;}
#div-2{grid-area: div2;}
#div-3{grid-area: div3;}
#div-4{grid-area: div4;}
#div-5{grid-area: div5;}
#div-6{grid-area: div6;}
#div-7{grid-area: div7;}
#div-8{grid-area: div8;}
.rooms{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.plus-btn{
    background-color: blue;
    color: white;
    padding: 0.25rem 1rem;
    border-radius: 0.75rem;
    text-align: center;
}
#staf-cards{
    overflow-x: hidden;
    overflow-y: auto;
}
.room-empty{
    background-color: red;
    opacity: 0.2;
}
/* ===================== RESPONSIVE ===================== */

@media (min-width: 769px) and (max-width: 1024px) {
    body {
        flex-direction: row; /* Sidebar + image side by side */
        height: 100vh;
        overflow-y: hidden;
    }

    #sideBar {
        width: 30%; 
        height: 100%;
        flex-direction: column;
        justify-content: flex-start;
        padding: 10px;
        overflow-y: auto;
    }

    #staf-cards {
        max-height: 70vh;
        overflow-y: auto;
        display: flex;
        flex-direction: column;
        align-items: stretch;
        gap: 10px;
        margin-top: 10px;
    }

    #staf-cards > div {
        width: 100%;
    }

    .image {
        all: unset;
        width: 70%; 
        height: 100%;
        background-image: url("../images/plan-69159a65c5684763515973-Vertical.jpg");
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-areas:
            "div5 div5 div1"
            "div5 div5 div1"
            "div2 div2 div2"
            "div6 div8 div3"
            "div7 div8 div4";
    }

    .rooms {
        flex-direction: column;
        align-items: center;
    }

    .rooms h3 {
        font-size: 14px;
        color: white;
        font-weight: normal;
        text-align: center;
    }
}



@media (max-width: 769px) {

    body {
        display: block !important;
        height: auto !important;
        overflow-y: auto !important;
        background-color: black;
    }

    #sideBar {
    width: 100%;
    height: 70vh; /*To Adjust */
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;   
    overflow-y: scroll;
}
#staf-cards > div {
    width: 80vw;          
    max-width: 90%;        
}

#staf-cards{
    width: 100%;    
    display: flex;
    flex-direction: column;
    align-items: center; 
    overflow-y: scroll;
}

#sideBar button{
    width: 60%; 
    display: flex;
    justify-content: center;
}


    .image {
        width: 100%;
        background-image: url("../images/plan-69159a65c5684763515973-Vertical.jpg");
        background-size: cover;
        background-position: top center;
        background-repeat: no-repeat;
        display: grid;
        grid-template-columns: repeat(3,1fr);
        grid-template-areas:
            "div5 div5 div1"
            "div5 div5 div1"
            "div2 div2 div2"
            "div6 div8 div3"
            "div7 div8 div4";
        grid-template-rows: repeat(5,1fr);
    }

    .rooms h3 {
        font-size: 14px;
        color: white;
        font-weight: normal;
    }


}


